<% content_for :javascript do %>
  <%= javascript_include_tag "seat" %>
<% end %>


<div id="head">
  <select  id="city_select_box" name="query" type="text" >
    <%= options_from_collection_for_select @seats,:id,:name %>
  </select>
  <select id="year_select_box" >
    <%= options_for_select(%w(2004 1999 1994 1989 1985 1983 1978).inject([]) { |all,val| all << [val ,val] }) %>
  </select>		
</div>

<div id="map" class="mymap"></div>

<div id="right">
  <div> <span class="winner"></span> / <span class="defeated" ></span></div> 
  <div> <span class="total_votes"></span> <span class="margin"></span> </div>
</div>

<div id="foot">
  <div id="piechart" ></div>
  <div id="barchart" ></div>
</div>
