html, body {
  margin : 0;
  padding : 0;
  font-family : Georgia, Arial, sans-serif;
  text-align : center;
}

#container {
  margin : 5px;
  width : 950px;
  margin : 0 auto;
}

#head {
  padding : 5px;
  margin : 5px 0 0 0;
}

.mymap {
  margin: 5px auto;
  width: 900px;
  height: 400px;
  position: relative;
  background-color: rgb(229, 227, 223);
}

#right {
  padding : 5px;
  margin : 5px;
  margin-right : 0;
  text-align: center;
}

#foot {
  margin : 0 0 5px 0;
  clear : both;
  padding : 5px;
  height : 40px;
  text-align : center;
}

#foot p {
  margin : 0;
}

#city_select_box, #year_select_box {
  background:#F3F9F8 none repeat scroll 0 0;
  border:1px solid #C9D7D8;
  font-size:1.3em;
  padding:0.3em;
  width:15em;
}

#year-select_box {
  width:5em;
}

#piechart,#barchart{
  width:400;
}

#barchart{
  float:right;
}

#piechart{
  float:left;
}
