html, body {
margin : 0;
padding : 0;
font-size : 1em;
font-family : Georgia, Arial, sans-serif;
text-align : center;
}
#container {
margin : 5px;
width : 1050px;
margin : auto;
text-align : left;
}
#head {
height : 100px;
padding : 5px;
margin : 5px 0 0 0;
text-align : center;
}
#left {
display : inline;
padding : 5px;
width : 255px;
float : left;
margin : 5px;
margin-left : 0;
}
#center {
display : inline;
padding : 5px;
width : 430px;
width : 494px;
float : left;
margin : 5px 0 5px 0;
}
#right {
display : inline;
padding : 5px;
width : 255px;
float : right;
margin : 5px;
margin-right : 0;
}
#foot {
margin : 0 0 5px 0;
clear : both;
padding : 5px;
height : 40px;
text-align : center;
}
#foot p {
margin : 0;
}
ul.invs {
list-style : none;
margin : 0;
padding : 0;
}

#search_box {
background:#F3F9F8 none repeat scroll 0 0;
border:1px solid #C9D7D8;
font-size:1.3em;
padding:0.3em;
width:15em;
}


#search_button {
cursor:pointer;
font-size:1.2em;
height:2em !important;
margin:0 !important;
padding:0 !important;
width:auto;
}

