    <%= javascript_include_tag "extinfowindow_packed" %>
    <%= javascript_include_tag "mapiconmaker_packed" %>
    <%= javascript_include_tag "dragzoom_packed" %>
    <%= javascript_include_tag "current" %>
<div id="map" style="width: 1200px; height: 1000px; "></div>
</div>
