<div id="head">
  <select  id="search_box" name="query" type="text" >
    <%= options_from_collection_for_select @constituencies,:id,:name %>
  </select>
</div>

<div id="center"> 
  <div id="map" style="margin: 5px auto; width: 600px; height: 400px; position: relative; background-color: rgb(229, 227, 223);"></div>
</div>

<div id="right">
  <div id="city_name" > </div>
  <select id="select_box" style="display: none;">
  </select>		
  <div id="content" >
    <br/>
    Winner     <span class="winner"></span><br/>
    Winner(Party)  <span class="winning_party" style="text-transform :uppercase;"></span><br/>
    Won Against  <span class="runnerup" ></span><br/>
    Won Against(Party)  <span class="runnerup_party" style="text-transform : uppercase;"></span><br/>
    Total Votes  <span class="total_votes"></span><br/>
    Margin  <span class="margin"></span><br/>
  </div>
</div>

<div id="foot">
  <div id="chart_div" ></div>
  <div id="bar_chart_div" ></div>
</div>

