<ul style="list-style:none;">
  <li> <%= @seat.name %> 
  <% for nomination in @nominations %>
    <li>
      <%= nomination.name %>
      <%= "( #{nomination.party.code} )" %>
    </li>
  <% end %>
</ul>
