<h1>New nomination</h1>

<% form_for(@nomination) do |f| %>
  <%= render :partial => "form",:locals => { :f => f } %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', nominations_path %>
