<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="Description" content="Andhra Pradhesh Electorial Map: 2009 Elections Results Information">
    <title> Andhra Pradhesh Electorial Map</title>
    <meta name="description" content="Andhra Pradhesh" />
    <%= stylesheet_link_tag 'election'%>
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true_or_false&amp;key=ABQIAAAAlgBkrxtozPq6BJRUDdohQBRQjiruw-KtEXQU0Co68BVbvGJCfRTTcLg4cYfTd_0bpWlY2ifLxac0Qg" type="text/javascript"></script>
    <script type="text/javascript">
      google.load("jquery", "1.4");
      google.load("maps", "2");
      </script>
      <%= yield :javascript %>
    </head>
    <body>
      <div id="ajax" style="position: absolute; top: 100; right: 100; display: none;"> 
        <%= image_tag "ajax-loader.gif"%> Please while we load your map. </div>
      <div id="container">
        <%= yield %>
      </div>
    </body>
  </html>

